<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>I am ejs Server side rendering</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: #000;
            color: #fff;
        }
    </style>
  </head>
  <body>
    <h1>Welcome to URL shortener</h1>
    <!-- server se jo response aata hai bo  locals mai hota hai  -->
     <% if (locals.shortUrlId) { %>
      <p>Your Short url Generated is http://localhost:8000/url/<%= shortUrlId %></p>
     <% } %>
    <h4>NOW create your new short url</h4>
    <form action="/url" method="post">
        <label for="UserinputUrl">
            Enter your Url  :
        </label>
        <input type="text" name="url" id="UserinputUrl" placeholder="for e.g www.google.com" />
        <button type="submit">Generate short url</button>

    </form>

    <hr />
<% if (locals.Allurls && locals.Allurls.length > 0) { %>
    <h2>Here are the URLs in the database</h2>
    <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
        <thead>
            <tr style="background-color: #333; color: #fff;">
                <th style="padding: 10px; border: 1px solid #444;">S.no</th>
                <th style="padding: 10px; border: 1px solid #444;">User URL</th>
                <th style="padding: 10px; border: 1px solid #444;">Redirected URL</th>
                <th style="padding: 10px; border: 1px solid #444;">Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% Allurls.map((url,idx) => { %>
                <tr style="background-color: #222; color: #fff;">

                    <td style="padding: 10px; border: 1px solid #444;"><%= idx+1%></td>
                    <td style="padding: 10px; border: 1px solid #444;"><%= url.redirecturl %></td>
                    <td style="padding: 10px; border: 1px solid #444;">http://localhost:8000/url/<%= url.shortUrlId %></td>
                    <td style="padding: 10px; border: 1px solid #444;"><%= url.visitedHist.length %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    
<% } %>
</body>
</html>

<!-- since short url gen ke baad aap is home mai keval ek hi data bhej rhe ho short id so
 ye Allurls to ismai defined hi nhi hai to fix ya to us controllers fxn mai Allurls ko bhi fetch krke db se 
 pass kro ya yaha se home se remove krdo 
<h2>Here are the urls in the database</h2>

 -->